#github-contribution-bar {
  position: sticky;
  width: 100%;
  height: 40px;
  top: 0;
  background-color: #0d1117;
  opacity: 0.9;
  display: flex;
  align-items: center;
  padding: 0 10px;
  z-index: 9999;
}

#contribution-squares-container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.contribution-square {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
}

#streak-display {
  font-size: 14px;
  color: #fcfaff;
  padding-right: 10px;
}